body{
    color: aliceblue;

    background-color: rgb(155, 4, 34);
}

p{
    font-size: 23px;
    font-family: 'EB Garamond', serif;
color:aliceblue;

}
h1{

    color: black;
};


#leg1{

    width: 200px;
    height: 120px;   

};

#myForm{

width: 200px;
height: 120px;
flex: auto;

}

#submit{

    width: 150px;
    height: 60px;
    font-size: 100%;
}


footer{


    width: 900px;
    height: 350px;
}
#mychart{


    font-size: 40%;
    color: black;
}